<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>EvApp</title>
  </head>
  <body class='container' style="text-align:center">
    <h1><%= @title %></h1>
    <%= yield %>
  </body>
</html>